@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Teko:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Nav and logo */

a {
    color:#e7833b;
    text-transform: uppercase;
    text-decoration: none;
}



/* Headings and Logo style rules */


h1, h2 {
    color: #e7833b;
    font-size: 70px;
    font-family: Teko, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#logo {
    float: left;
    font-size: 500%;
}


/* -- Main section -- */

body {
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    color: white;
    background-color:#0a0d0e;
}



