@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Teko:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body h1 {
    font-family: Teko, sans-serif;
    font-weight: 500;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    color: #0a0d0e;
}

/* color orange #e7833b for font */

h1 {
    color: #e7833b;
    font-size: 100px;
}

